# This yarn config file is for yarn version 1. For yarn version 2, a .yarnrc.yml file is required instead.
# Default registry
registry "https://registry.npmjs.org/"

# Scoped registry for @intuit packages
"@intuit:registry" "https://registry.npmjs.intuit.com"
