registry=https://registry.npmjs.org/

# If any @intuit scoped packages are needed, use the Intuit registry. Example: npm install @intuit/some-package
@intuit:registry=https://registry.npmjs.intuit.com
